<footer class="text-gray-600 body-font">
  <div class="bg-gray-100">
    <div class="container mx-auto py-4 px-5 flex items-center">
      <%= image_tag 'logo.png', alt: 'Logo', class: 'w-40 h-40 p-2' %>
      <h1 class="ml-4">Packing Checkerはみなさんの旅行の準備をお手伝いする、タスク管理アプリです</h1>
    </div>
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-sm text-center sm:text-left">© 2024 Ikeda Ayato. All Rights Reserved.
        <a href="https://twitter.com/tjalk10251" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@tjalk10251</a>
      </p>
    </div>
  </div>
</footer>