<%= search_form_for @q, url: travel_plan_tasks_path(@travel_plan), method: :get, class: 'form-inline' do |f| %>
  <a class="d-flex">
    <a class="me-2">
      <%= f.select :baggage_eq, options_for_select([['手荷物', 'carry'], ['預け荷物', 'leave']], selected: @q.baggage_eq), { include_blank: 'すべて' } %>
    </a>
    <a class="me-2">
      <%= f.select :status_eq, options_for_select([['保留中', 'pending'], ['実行中', 'working'], ['完了', 'done']], selected: @q.status_eq), { include_blank: 'すべて' } %>
    </a>
    <input type="submit" value="<%= t('tasks.index.search') %>" class="btn btn-outline-success">
  </a>
<% end %>
